.listWrap {
    padding: 50px;
}
.listStyle {
    border: 1px solid #ccc;
    padding: 40px 30px;
    box-shadow: 4px 4px 0px 1px #000;
}
.listStyle h4 {
    font-size: 30px;
    margin-bottom: 5px;
}
.modify {
    border: 1px solid #000;
    padding: 2px 10px;
}
